{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Início</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>
<body>
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'inicio' %}">Turismo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Início</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Estado
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'listar-estados' %}">Consultar</a></li>
                            <li><a class="dropdown-item" href="{% url 'cadastro-estado' %}">Cadastrar</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Cidade
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'listar-cidades' %}">Consultar</a></li>
                            <li><a class="dropdown-item" href="{% url 'cadastro-cidade' %}">Cadastrar</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Ponto Turístico
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'listar-pontos' %}">Consultar</a></li>
                            <li><a class="dropdown-item" href="{% url 'cadastro-ponto' %}">Cadastrar</a></li>
                        </ul>
                    </li>                                        
                </ul>
                <div class="navbar-nav nav-item dropdown">
                    
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <i class="far fa-user"></i> Usuário
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Entrar</a></li>
                        <li><a class="dropdown-item" href="#">Cadastre-se</a></li>
                        <li>
                    </ul>                    
                </div>
            </div>
        </div>
    </nav>
    </div>       
    
    <div class="container p-5 ">
        {% block container %}
        <h3>Página Inicial</h3>       
        {% endblock %}
    </div>
    
    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="{% url 'inicio' %}" class="nav-link px-2 text-muted">Início</a></li>
                <li class="nav-item"><a href="{% url 'listar-estados' %}" class="nav-link px-2 text-muted">Estados</a></li>
                <li class="nav-item"><a href="{% url 'listar-cidades' %}" class="nav-link px-2 text-muted">Cidades</a></li>
                <li class="nav-item"><a href="{% url 'listar-pontos' %}" class="nav-link px-2 text-muted">Pontos Turísticos</a></li>                
            </ul>
            <p class="text-center text-muted">© 2022 Prática e Inovação, Allison Borba Cabral</p>
        </footer>
    </div>

    
    <script src="{% static 'js/jquery-3.6.3.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.js'%}"></script>
    <script src="{% static 'js/popper.min.js'%}"></script>
</body>
</html>